.CreativeOffice {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 5%;
  background: var(--backgroundLight);
}

.creativeImgs {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.creativeImgs img {
  width: 262px;
  height: 245px;
}

.creativeText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.creativeText span {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 150%;
}

.creativeText h2 {
  background: linear-gradient(to right, #e0e7ec 24%, transparent 0%);
  padding: 20px 0px 0px 20px;
}

.creativeText button {
  margin-left: 20px;
}

@media (max-width: 1260px) {
  .CreativeOffice {
    flex-wrap: wrap-reverse;
  }
  .creativeImgs {
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .creativeImgs img {
    flex-grow: 1;
  }
  .creativeText {
    width: 80%;
    margin: 0 auto 40px;
  }
}

@media (max-width: 470px) {
  h2 {
    font-size: 30px;
  }
}
