.Navbar {
  position: fixed;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background: var(--backgroundDark);
  top: 0;
  left: 0;
  z-index: 999;
}

.navLogo,
.navMenuIcon {
  color: var(--colorWhite);
  font-size: 30px;
  font-family: var(--titleFont);
  font-weight: 550;
}
.navMenuIcon {
  font-size: 38px;
}
.Sidebar {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background: #080808;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 15px;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.SidebarLinks a,
.sidebarClose {
  color: var(--colorWhite);
  font-size: 24px;
  font-family: var(--titleText);
}

.sidebarClose {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  font-weight: bold;
}

.SidebarLinks {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

@media (max-width: 500px) {
  .navLogo, .navMenuIcon {
    font-size: 25px;
  }
}
@media (max-width: 390px) {
  .navLogo {
    font-size: 22px;
  }
}
